@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }


  .sidebar__wrapper {
    position: relative;
  }
  
  
  
  .sidebar {
    width: 17rem;
    height: 100%;
    background-color: var(--color-bg);
    padding: 1rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    overflow: hidden;
  }
  
  .sidebar__top {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
  }
  
  .sidebar__logo {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    border-radius: 1rem;
  }
  
  .sidebar__logo-name {
    font-size: 1.2rem;
    font-weight: 600;
    
  }
  
  .sidebar__list {
    list-style: none;
  }
  
  .sidebar__link:hover {
    background-color: #efebeb;
    color:#212121;
  }
  .sidebar__link {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    display: flex;
    background-color: var(--color-sidebar-item);
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: start;
  }
  
  .sidebar__link--active {
    color: #fff;
    background-color: #212121;
  }
  
  .sidebar__icon {
    display: inline-block;
    font-size: 1.2rem;
  }
  
  .sidebar__name {
    margin-left: 0.5rem;
  }
  
  [data-collapse="true"] {
    width: 5.3rem;
  }
  
  [data-collapse="true"] .sidebar__name,
  [data-collapse="true"] .sidebar__logo-name {
    display: none;
  }
  
  .btn {
    position: absolute;
    right: 0;
    top: 4.7rem;
    border: none;
    background-color: var(--color-bg);
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 2.1rem;
    background: #ffffff;
    color: #212121;
  
  }
  @media print {
    body * {
      visibility: hidden;
    }
    #table-to-print, #table-to-print * {
      visibility: visible;
    }
    #table-to-print {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
/* Updated button styles with animated stars */
.custom-button {
  position: relative;
  padding: 12px 35px;
  background: #4c83fa;
  font-size: 17px;
  font-weight: 1000;
  color: #ffffff;
  border: 3px solid #4c83fa;
  border-radius: 8px;
  box-shadow: 0 0 0 #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1,
.star-2,
.star-3,
.star-4,
.star-5,
.star-6 {
  position: absolute;
  width: auto;
  height: auto;
  filter: drop-shadow(0 0 0 #4c83fa);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-1 {
  top: 20%;
  left: 20%;
  width: 25px;
}

.star-2 {
  top: 45%;
  left: 45%;
  width: 15px;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  top: 40%;
  left: 40%;
  width: 5px;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  top: 20%;
  left: 40%;
  width: 8px;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  top: 25%;
  left: 45%;
  width: 15px;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  top: 5%;
  left: 50%;
  width: 5px;
  transition: all 0.8s ease;
}

.custom-button:hover {
  background: transparent;
  color: #4c83fa;
  box-shadow: 0 0 0px #4c83fa;
}

.custom-button:hover .star-1 {
  top: -80%;
  left: -30%;
  width: 25px;
  z-index: 2;
}

.custom-button:hover .star-2 {
  top: 0;
  left: 10%;
  width: 15px;
  z-index: 2;
}

.custom-button:hover .star-3 {
  top: 55%;
  left: 25%;
  width: 5px;
  z-index: 2;
}

.custom-button:hover .star-4 {
  top: 30%;
  left: 80%;
  width: 8px;
  z-index: 2;
}

.custom-button:hover .star-5 {
  top: 25%;
  left: 115%;
  width: 15px;
  z-index: 2;
}

.custom-button:hover .star-6 {
  top: 5%;
  left: 60%;
  width: 5px;
  z-index: 2;
}

.fil0 {
  fill: #4c83fa;
}
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #4c83fa;  /* Changed to blue */
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 600;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #4c83fa 20%, transparent 30%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #4c83fa 15%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: bluetopBubbles 0.6s ease;
}

@keyframes bluetopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #4c83fa 15%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%),
    radial-gradient(circle, #4c83fa 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: bluebottomBubbles 0.6s ease;
}

@keyframes bluebottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
/* styles/globals.css */

button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
